@import url('https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap');
/* font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif; */


html, body{
  font-family: 'Raleway', sans-serif;
  color:#505962;
}


/* Navigation */
.navbar{
  text-transform: uppercase;
  font-size: 700;
  font-size:.9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand img {
  height: 4rem;
}

.navbar-nav li{
  padding-right: .7rem;
}

/* nav font color and padding */
.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}
/* hover nav font color */
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color:pink;
}


/* landing page */
#home {
  background: url(../img/background-frontpage.png)no-repeat center center;
  display: table;
  height: 40em;
  position: relative;
  width: 100%;
  background-size:cover;
}

.caption{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color:white;
  text-transform: uppercase;
}

.caption h1{
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding:.6rem 1.3rem;
  font-size: 1.1rem;
}

/* stamp */

.padding{
  padding: 80px 0;
}

.padding-stamp{
  padding: 80px 0;
  color: black;
}

#stamp{
  max-width: 100%;
  height: auto;
  -webkit-filter: drop-shadow(5px 5px 5px #2e2d2c);
  transform: rotate(240deg);
}

/* reviews carousel*/
.carousel-inner{
  width: 100%;
  padding: 40px 30px;
  text-align: center;
}


/*footer */

.footer{
  background:lightgrey;
  color: #d3d3d3;
  height: 300px;
  max-width: 100%;
}

.footer h1{
  color:white;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  text-shadow: .1rem .01rem .3rem black;
}

/* opening hours */
.openinghours {
    border-radius:4px;
    margin:10px;
    padding:0 10px 0 10px;
    overflow: hidden;
    display: inline-block;
}
.openinghourscontent {
    float:left;
}
.openinghourscontent h2 {
    display:block;
    text-align:center;
    margin-top:.33em;
}

.today {
    color: #8AC007;
}
.opening-hours-table tr td:first-child {
    font-weight:bold;
}

#open-status {
    display:block;
    margin-top:-1em;
    text-align:center;
    padding: 10px;
}
.openorclosed:after {
    content:" open during these hours:";
}
.open {
    color:green;
}
.open:after {
    content:" Open";
    color: #6C0;
}
.closed:after {
    content:" Closed";
    color: red;
}
.opening-hours-table tr td {
    padding:5px;
}


/* Menu page*/
#menu-page {
  background: url(../img/menu-banner.jpg)no-repeat center center;
  display: table;
  height: 20em;
  position: relative;
  width: 100%;
  background-size:cover;
}
